<nav class="navbar navbar-expand-lg navbar-dark sticky-top" style="background-color: #3f51b5;">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/dashboard/kpi"> A P P - K P I </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
         
          <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard/ventas"><mat-icon>shopping_bag</mat-icon> Ventas</a>
          </li>

          <li class="nav-item">
            <div class="container-fluid">
              <a class="nav-link" routerLink="/dashboard/articulos"><mat-icon>inventory</mat-icon> Articulos</a>
            </div>
            
          </li>

          <li class="nav-item">
            
            <a class="nav-link" routerLink="/dashboard/kpi"><mat-icon>query_stats</mat-icon> Analisis de datos</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>

  <router-outlet></router-outlet>
