<div>
<mat-drawer-container class="example-container h-100" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side" opened>
      
      <mat-selection-list [multiple]="false" class="">

           <mat-list-option routerLink="/dashboard/articulos/nuevo-articulo">
            Nuevo Producto
           </mat-list-option>
           <mat-divider></mat-divider>

           <mat-list-option routerLink="/dashboard/articulos/base-datos">
           Productos por base de datos
           </mat-list-option>
           <mat-divider></mat-divider>

           <mat-list-option routerLink="/dashboard/articulos/analisis">
            Analisis de productos
           </mat-list-option>
           <mat-divider></mat-divider>

      </mat-selection-list>


    </mat-drawer>
    
  
    <div class="example-sidenav-content p-4">
      <button type="button" mat-button (click)="drawer.toggle()" mat-fab color="primary"><mat-icon>tune</mat-icon></button>
        <div style="overflow-x: scroll;" class="w-100 h-100"> 
          <router-outlet></router-outlet>     
        </div>
    </div>
  
  </mat-drawer-container>
  </div>